@media(max-width:1080px){
 
  main{
    height: 110rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  #container-card{
    width: 32rem;
    height: 57rem;
    border-radius: 0rem 0rem 1rem 1rem;
    margin: auto;
    background-color: hsl(244, 38%, 16%);
   
  }
  
  #container-card img{
    width: 32rem;
    height: 22rem;
    position: absolute;
    margin-left: -0rem;
    margin-top: -74rem;
    border-radius: 1rem 1rem 0rem 0rem;
  
  }
  
  
  #container-card .img-about{
    width: 32rem;
    height: 22rem;
    position: absolute;
    margin-left: -0rem;
    margin-top: -74rem;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: hsl(277, 95%, 35%);
    opacity: 0.4;
  
  }
  
  
  /*================CONTENT===============*/
  .content{
    width: 24rem;
    margin: auto;
    margin-top: 4.1rem;
    
    
  }
  
  .content h2{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-family:'Inter', sans-serif;
  }
  
  .content a{
    text-decoration: none;
    color: hsl(277, 64%, 61%)
    ;
  }
  
  .content p{
    
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    
  }
  
  /*================STATS/STAT===============*/
  
  .stats{
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -4rem;
  }
  
  .stats ol{
    display: flex;
    flex-direction: column;
    
  }
  
  .stats ol li{
  
    list-style: none;
    color:hsl(0, 0%, 100%);
    font-size: 2.5rem;
    text-align: center;
    font-family:'Inter', sans-serif;
    font-weight: 700;
    padding-right: 0rem;
    padding-top: 4rem;
    
  
   
  }
  
  .stats ol p{
    color: hsla(0, 0%, 100%, 0.6); 
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    padding-right: 0rem;
   
   
  }

}


@media(max-width:380px){


/*================SECTION===============*/
main{
  height: 110rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


#container-card{
  width: 32rem;
  height: 57rem;
  border-radius: 0rem 0rem 1rem 1rem;
  margin: auto;
  background-color: hsl(244, 38%, 16%);
 
}

#container-card img{
  width: 32rem;
  height: 22rem;
  position: absolute;
  margin-left: -0rem;
  margin-top: -74rem;
  border-radius: 1rem 1rem 0rem 0rem;

}


#container-card .img-about{
  width: 32rem;
  height: 22rem;
  position: absolute;
  margin-left: -0rem;
  margin-top: -74rem;
  border-radius: 1rem 1rem 0rem 0rem;
  background-color: hsl(277, 95%, 35%);
  opacity: 0.4;

}


/*================CONTENT===============*/
.content{
  width: 24rem;
  margin: auto;
  margin-top: 4.1rem;
  
  
}

.content h2{
  font-size: 2.5rem;
  color: white;
  text-align: center;
  font-family:'Inter', sans-serif;
}

.content a{
  text-decoration: none;
  color: hsl(277, 64%, 61%)
  ;
}

.content p{
  
  font-size: 1.3rem;
  line-height: 2.5rem;
  color: hsla(0, 0%, 100%, 0.75);
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  
}

/*================STATS/STAT===============*/

.stats{
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -4rem;
}

.stats ol{
  display: flex;
  flex-direction: column;
  
}

.stats ol li{

  list-style: none;
  color:hsl(0, 0%, 100%);
  font-size: 2.5rem;
  text-align: center;
  font-family:'Inter', sans-serif;
  font-weight: 700;
  padding-right: 0rem;
  padding-top: 4rem;
  

 
}

.stats ol p{
  color: hsla(0, 0%, 100%, 0.6); 
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
  padding-right: 0rem;
 
 
}
}